<h2 class="text-center">&lt;Succès/&gt;</h2>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Succès</th>
            <th scope="col">Détails</th>
            <th scope="col">Vainqueur</th>
            </tr>
        </thead>
        <tbody *ngFor="let success of successService.successes"
            class="my-2">
            <tr>
                <th scope="row">{{ success.name }}</th>
                
                <td>{{ success.summary }}</td>

                <td *ngIf="success.winner; else noCurrentWinner"
                    class="text-center">{{ success.winner }}
                </td>
                
                <ng-template #noCurrentWinner>
                    <td class="text-secondary text-center">Vous ?</td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>