<h2 class="text-center">&lt; Succès /&gt;</h2>

<div class="container my-3 text-center">
    <p>
        Retrouvez ici la crème des participants à la Hacktoberfest ! <br />
        Vous avez accompli un succès ou détrôné quelqu'un ?
        Ping-ez le @Staff sur #succès dans <a href="https://discord.gg/NsCcpg6">notre Discord !</a> <br />
    </p>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Succès</th>
            <th scope="col">Détails</th>
            <th scope="col">Vainqueur</th>
            </tr>
        </thead>
        <tbody *ngFor="let success of successService.successes; let i = index"
            class="my-2">
            <tr>
                <th scope="row">#{{ i }} - {{ success.name }}</th>
                
                <td>{{ success.summary }}</td>

                <td *ngIf="success.winner; else noCurrentWinner"
                    class="text-center">{{ success.winner }}
                </td>
                
                <ng-template #noCurrentWinner>
                    <td class="text-secondary text-center">Vous ?</td>
                </ng-template>
            </tr>
        </tbody>
    </table>

    <p class="text-center small">
        Certains succès ne se remportent qu'en étant le plus rapide à le faire, le @Staff est seul arbitre de l'attribution des succès
    </p>

</div>