<footer class="footer mt-3 py-2 border-top container">
    
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <span class="footer-text text-center col-md-12">
            Développé avec 💖 par
            <a href="https://pbouillon.github.io/" target="_blank">Pierre Bouillon</a>
            &copy; 2020
        </span>
    </div>

    <div class="row d-flex flex-column justify-content-center align-items-center">
        <span class="footer-text text-center col-md-12">
            <a href="https://discord.gg/cYGz9f"
                alt="Discord invite link"
                target="_blank">Discord</a>
            -
            <a href="https://github.com/pBouillon/hacktoberfest_tncy_2020"
                alt="GitHub repository"
                target="_blank">GitHub</a>
        </span>
        
    </div>

</footer>
