body {
    font-family: 'Fira Sans', sans-serif;
    
    background-color: rgb(7, 37, 64);
}

h1,
h2,
h3,
th {
    color: white;
}
    
h4,
h5,
h6,
p,
span,
div,
a,
td {
    color: rgb(147, 194, 219);
}

