<h2 class="text-center">&lt;Planning des événements/&gt;</h2>

<div class="container"
    *ngFor="let planningFor of eventService.getOrderedEventsPerRoom() | keyvalue">

    <h3>&lt;{{ planningFor.key }}/&gt;</h3>

    <div class="card-deck my-2">

        <div class="container row justify-content-center mx-0"
            *ngFor="let event of planningFor.value">

            <app-event-view class="my-2 col-12 col-lg-10 px-0" 
                [event]="event"></app-event-view>

        </div>

    </div>
</div>
